.formulario-turno {
  background: rgba(255, 255, 255, 0.2);
  padding: 25px;
  border-radius: 15px;
  margin: 20px auto;
  width: 90%;
  max-width: 500px;
  color: white;
}

.formulario-turno form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formulario-turno input, .formulario-turno button {
  padding: 12px;
  border-radius: 10px;
  border: none;
  outline: none;
}

.formulario-turno input {
  background: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.formulario-turno button {
  background-color: #d16ba5;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formulario-turno button:hover {
  background-color: #c05494;
}

.turnos-lista {
  margin: 40px auto;
  width: 90%;
  max-width: 500px;
  background: rgba(255,255,255,0.15);
  border-radius: 15px;
  padding: 20px;
  color: white;
}

.turnos-lista ul {
  list-style: none;
  padding: 0;
}

.turnos-lista li {
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.acciones {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}

.acciones button {
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 8px;
  padding: 6px 10px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.acciones button:hover {
  background-color: #d16ba5;
}
